@font-face {
    font-family: 'ChosunKg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	font-family: 'ChosunKg';
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.signup_wrap{
    margin: 0 auto;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
}