@font-face {
    font-family: 'ChosunKg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	font-family: 'ChosunKg';
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.signup_wrap{
    margin: 0 auto;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
}

.signup_wrap input {
    width: 200px;
    height: 45px;;
    margin: 20px;
    border-radius: 15px;
    border : none;
    box-shadow : 5px 3px 3px #eeeeee;
}
.btn_area button{
    width: 100px;
    height: 45px;
    background-color: cadetblue;
    border-radius: 15px;
    color: white;
    border : none
    
}